* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;

}

.content {
  width: 320px;
  display: block;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5px;
  margin: 4rem auto;
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

p {
  line-height: 1.4;
  padding: 10.1px;
  color: #ffffff;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line {
  padding: 14px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.line--green {
  background-color: #1fcca4;
  margin-bottom: 0.9px;
}

.line--green:hover {
  background-color: #1cbb96;
}

.line--blue {
  background-color: #0197f6;
}

.line--blue:hover {
  background-color: #0090e9;
}

.hra {
  max-width: 80vmin;
  margin: 0 auto;
}

.panel {
  display: flex;
  justify-content: space-between;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.player {
  display: flex;
  align-items: center;
}

.player__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.player__circle {
  border: 3px solid white;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  margin-left: 3px;
}

.navigation {
  display: flex;
}

.navigation__field {
  padding: 5px;
  border-radius: 3px;
}

.navigation__field--green {
  background-color: #1fcca4;
  margin-right: 7px;
}

.navigation__field--green:hover {
  background-color: #1cbb96;
}

.navigation__field--blue {
  background-color: #0197f6;
}

.navigation__field--blue:hover {
  background-color: #0090e9;
}

.square {
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid black;
}

button {
  border: 0.5px solid black;
  aspect-ratio: 1/1;
  width: 50px;
  flex-basis: 10%;
  opacity: 0.5;
}

button:hover,
button:focus {
  opacity: 0.7;
  cursor: pointer;
}
