* {
  box-sizing: border-box;
}

.content {
  width: 320px;
  display: block;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
}
