* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.content {
  width: 320px;
  display: block;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.footer {
  display: flex;
  flex-direction: column;
}

a {
  color: #ffffff;
}

.line--green {
  background-color: #1fcca4;
}

.line--blue {
  background-color: #0197f6;
}
