* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;

}

.content {
  width: 320px;
  display: block;
  text-align: center;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5px;
  margin: 4rem auto;
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

p {
  line-height: 1.4;
  padding: 10.1px;
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
}

.line {
  padding: 14px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.line--green {
  background-color: #1fcca4;
  margin-bottom: 0.9px;
}

.line--green:hover {
  background-color: #1cbb96;
}

.line--blue {
  background-color: #0197f6;
}

.line--blue:hover {
  background-color: #0090e9;
}
